/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  background-color:#f0ffff;
}

// トップページCSS
.top-visual{
  width:100%;
  height:700px;
  background-image:imageurl('top-visual.jpg');
  background-size:cover;
  background-position:center;

}

.top-visual-logo{
  padding:150px 0 70px;
  font-family: 'Skia-Regular_Black',sans-serif;
}

.top-visual-logo h1{
  font-size:150px;
}

.top-visual-logo p{
  font-size:40px;
}

.about-area{
  margin-top:100px;
}


// ログイン時のヘッダー・フッター
header, footer{
  width:100%;
  background-image:image-url("green2.jpg");
  background-size:cover;
  background-position:center;
}


/*投稿一覧の写真にhoverした際のスケールで全体を拡大し影を付ける*/
.index-theTarget:hover {
    transform: scale(1.05);
    /*ボックスの影*/
    box-shadow: 0 15px 15px rgba(57,250,215,0.4);
}


// クラッカブルマップ画像
.map_area{
  width:100％;
  height:800px;
}


// 投稿内容等のボックス内での文字折り返し設定
p.overflow-wrap{
  overflow-wrap: break-word;
}




// ここからJavaScript関連


#post-images{
  width:800px;
  height:500px;
}
// ログイン時の投稿一覧画面表示
#loginIndex-post-images{
  width:300px;
  height:300px;
}

// ログアウト時の投稿一覧画面表示
#logoutIndex-post-images{
  width:280px;
  height:280px;
}

