
<div class="container">

  <h2><strong>投稿一覧</strong></h2>

  <div class="row">
    <% @post_images.reverse.each do |post_image| %>
    <div class="col-md-3">
      <div class="card">
        <%= link_to post_image_path(post_image.id) do %>
          <%= attachment_image_tag post_image, :image, size:"280x280" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

</div>
